// Color
$blue: #3c4251;
$blue-theme: #6aa0d6;
$dark-blue: #333745;
$light-blue: #464b5e;
$light-purple: #a5afd7;
$off-black: #20222b;
$white: #FFFFFF;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;